.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0px 3.3862948417663574px 5.643825054168701px 0px rgba(176, 190, 197, 0.32),
    0px 9.030119895935059px 27.09035873413086px 0px rgba(176, 190, 197, 0.32);
}

.header-logo {
  margin-right: 53px;
}

.header-input {
  padding: 12px 16px;
  outline: none;
  min-width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  color: var(--text-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
  }

  .header-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-input {
    min-width: auto;
    width: 100%;
  }
}
